body{
  color: white;
}
#about-me-section {
  background:
    url("https://i.pinimg.com/474x/a7/fb/62/a7fb622b101efe3366ce58d0011045b9--modern-home-offices-modern-homes.jpg");
  min-height: 855px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  text-align: center;
  top: 50%;
  color: White;
  padding-bottom: 50px;
}


#about-me-section>h1{
  font-size: 64px;
}

.standout-text{
  text-shadow: 2px 2px 4px #000000;
}

hr {
  background-color: white;
  height: 1px;
  width: 400px;
}

.anchor{
   display:block;
   height:75px; /* this is the height of your header */
   margin-top:-75px; /* this is again negative value of the height of your header */
   visibility:hidden;
}

#projects-section {
  background-image:
    url("https://cdn.apstudynotes.org/images/hero/upenn.jpg");
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   position: relative;
  text-align: center;
  padding-top:20px;
}

#project-section>div {
  padding-left: 4px;
}

#projects-header {
  font-size: 4em;
}
.project {
  margin-bottom: 50px;
  border: 1px solid white;
  text-align: center;

}


.project>a>img {
  width: 100%;
  height: 200px;
}
.project:hover {
  border: 1px solid white;
  box-shadow: 10px 10px black;
}

.project-description, .project-description>a, .project-description>a:hover {
  background-color: rgba(0,0,0,0.9);
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  font-family: serif;
  text-decoration: none;
}

#info-section {
  padding-top: 75px;
  padding-bottom: 55px;
  background-image:
    url("http://www.aib.edu.au/custom/files/media/form-submission-7464-teamworkisimportantintheworkplace.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 855px;
}

#about-me-text {
  text-align: center;
  font-size: 30px;
  background-color: rgba(192,192,192,0.7);
  padding: 0 10px;
}
li {
  padding: 10px;
  list-style: none;
}

.contact-btn{
  border: 2px solid black;
}
footer {
  background-color: rgba(235,235,235,1);
  padding: 30px 30px 10px 30px;

}

footer>p{
  color: black;
  padding-left: 20px;
  padding-top: 10px;
}
footer>nav>a{
  font-weight: bold;
  padding-left: 20px;
}
